interactions:
- request:
    body: '{"reference_number": "ORD-d2009f0b", "retail_price": 500, "customer": {"name":
      "John Doe", "email": "johndoe@example.com", "number": 9844654321, "address1":
      "123 Lane, Area", "pincode": 600001, "state": "Tamil Nadu", "city": "Chennai",
      "country": "India"}, "order_products": [{"quantity": 1, "variant_id": 22906490,
      "is_plain": false}], "cod": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.printrove.com/api/external/orders
  response:
    body:
      string: '{"status":"failure","message":"It seems like you do not have sufficient
        credits to place this order","order_cost":327.75}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '55'
    status:
      code: 422
      message: Unprocessable Content
version: 1
