interactions:
- request:
    body: '{"name": "Test Product Integration", "product_id": 460, "variants": [{"product_id":
      264, "sku": "SKU-8a478042"}], "is_plain": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.printrove.com/api/external/products
  response:
    body:
      string: '{"status":"success","product":{"id":849591,"name":"Test Product Integration","product":{"id":460,"name":"Half
        Sleeve Round Neck T-Shirt"},"variants":[{"id":23037897,"sku":"SKU-8a478042","product":{"id":264,"name":"White
        S Men Round","color":"White","size":"S"},"is_plain":true,"design":{"front":null,"back":null},"mockup":null}]}}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '56'
    status:
      code: 200
      message: OK
version: 1
