interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.printrove.com/api/external/serviceability?pincode=560001&country=India&cod=false&weight=500
  response:
    body:
      string: '{"status":"success","couriers":[{"id":44,"name":"Delhivery Air","cost":60},{"id":11,"name":"Blue
        Dart Air","cost":60},{"id":45,"name":"Bluedart Surface","cost":50},{"id":47,"name":"Ekart
        Surface","cost":50},{"id":17,"name":"Delhivery Surface Standard","cost":75},{"id":46,"name":"Amazon
        Surface","cost":90}]}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '57'
    status:
      code: 200
      message: OK
version: 1
