interactions:
- request:
    body: '{"url": "https://frappe.io/assets/frappe_io/images/frappe-logo.png", "name":
      "Test Design 842d6d8f"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.printrove.com/api/external/designs/url
  response:
    body:
      string: '{"status":"success","design":{"id":11926314808,"name":"Test Design
        842d6d8f","dimension":"200 x 200 px","width":200,"height":200,"extension":"PNG"}}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '58'
    status:
      code: 200
      message: OK
version: 1
