interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.printrove.com/api/external/categories/25/products/460
  response:
    body:
      string: '{"status":"success","product":{"id":460,"name":"Half Sleeve Round Neck
        T-Shirt","gst":5,"variants":[{"id":264,"name":"White S Men Round","weight":200,"gst":5,"stock_status":"in_stock","front_print_height":5880,"front_print_width":4680,"back_print_height":5880,"back_print_width":4680,"base_price":165,"front_rate_per_square_inch":0.9,"front_minimum_printing_price":90,"front_rate_per_square_inch_dtf":0.9,"front_minimum_printing_price_dtf":90,"back_rate_per_square_inch":0.9,"back_minimum_printing_price":90,"back_rate_per_square_inch_dtf":0.9,"back_minimum_printing_price_dtf":90,"color":"White","color_code":"#ffffff","size":"S"},{"id":265,"name":"White
        M Men Round","weight":200,"gst":5,"stock_status":"in_stock","front_print_height":5880,"front_print_width":4680,"back_print_height":5880,"back_print_width":4680,"base_price":165,"front_rate_per_square_inch":0.9,"front_minimum_printing_price":90,"front_rate_per_square_inch_dtf":0.9,"front_minimum_printing_price_dtf":90,"back_rate_per_square_inch":0.9,"back_minimum_printing_price":90,"back_rate_per_square_inch_dtf":0.9,"back_minimum_printing_price_dtf":90,"color[...]
